<div class="section">
  <%= simple_form_for @list do |f| %>
    <div class="field">
      <h4>Enter the name of your new TooDoo list!</h4>
<!--      <div class="control">-->
<!--        <h4 id="input-guid"></h4>-->
<!--        <p>Copy your generated Guid to guid field</p>-->
        <%#= f.input :guid, input_html: { class: 'input-guid'}, wrapper: false, label_html: { class: 'label' } %>
        <%#= f.input :guid, :input_html => {:onclick => "uuidv4()", :class => "stext"}, wrappe: false, label_html: {class: 'label'} %>
<!--      </div>-->
    </div>
    <div class="field">
      <div class="control">
        <%= f.input :name, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
    </div>
    <%= f.button :submit, 'Create new post', class: "button is-primary" %>
  <% end %>
</div>

<!--<script>-->
<!--    function uuidv4() {-->
<!--        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {-->
<!--            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);-->
<!--            return v.toString(16);-->
<!--        });-->
<!--    }-->
<!--</script>-->
<%= javascript_pack_tag 'guid_gen' %>