<h1>Home#home</h1>
<p>Find me in app/views/home/home.html.erb</p>

<%#= button_to "Map", home_new_path, id: 'random_id', remote: true, method: :get %>
<div id="container"></div>
<button id='newList'>new task</button>

<%= javascript_pack_tag 'list' %>