<div id="container">
  <img id="header" src="/images/ragu6.jpg" >
  <div>TooDoo</div>
</div>
<div id="main-content">
  <div class="content">
    <div id="toDo">
      <h3>Here are your tasks</h3>
    </div>
    <div id="doneTasks">
      <h3>Here are your done tasks</h3>
    </div>
  </div>
  <button id='addNew'><i></i> New task</button>
</div>


<%= javascript_pack_tag 'note' %>